version: '3'

volumes: 
  db-data:
  node_modules_volume:

services: 
  db:
    container_name: db
    image: mysql:5.6.51
    volumes: 
      - 'db-data:/var/lib/mysql'
    ports:
      - 4306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  api:
    container_name: api
    build: .
    ports: 
      - '3001:3000'
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes: 
      - '.:/early-bird'
    environment: 
      - 'DATABASE_PASSWORD=mysql'
    tty: true
    stdin_open: true
    depends_on: 
      - db
    links:
      - db 

  # front:
  #   build: 
  #     context: ./front/
  #     dockerfile: Dockerfile
  #   volumes: 
  #     - ./front:/usr/src/front
  #     - node_modules_volume:/front/app/node_modules_volume
  #   command: sh -c "cd front && yarn start"
  #   ports: 
  #     - '3000:3000'
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true